.markmap-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.markmap-svg {
  width: 100%;
  height: 100%;
}

.mm-heading-icon {
  display: inline-flex;
  align-items: center;
  margin-right: 2px;
  vertical-align: middle;
}

.mm-heading-svg {
  width: 14px;
  height: 14px;
  display: block;
}

.mm-editable-text {
  display: inline-block;
  vertical-align: middle;
  white-space: pre-wrap;
  word-break: break-word;
}
